* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #7fa374;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.sketch-Area {
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell {
    border: 1px solid whitesmoke;
}

.btn {
    background-color: rgb(245, 239, 239);
    color: black;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 500px;
    border: 1px solid transparent;
    letter-spacing: 1px;
    min-width: 180px;
    text-transform: uppercase;
    text-align: center;
    height: 40px;
    margin: 15px auto;

}

.grid-btn {
    display: block;
}

.btns-Area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto;
    width: 800px;
}
